<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>User List</h2>
      <p><strong>Name</strong></p>
      <ol>
        <% @users.each do |user| %>
          <li><%= user.name %></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>

